@charset "UTF-8";

:root {
    --bs-dgreen: #648C2E;
    --bs-dblue: #418893;
    --bs-blue: #D2E3E5;
    --bs-green: #9FB77E;
    --bs-white: #FEFEFE;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;  
    --bs-body-font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
  }

  /*Body*/

  body{
    background-image: url(../assets/img/fundo.jpg);

    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
  }

  /* Navigation*/

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: white;*/
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    
    justify-content: space-between;
    display: flex;
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    color: #418893;
    text-align: center;
    padding: 50px;

    text-decoration: none;
    font-weight: bold;
    font-family: system-ui;
    letter-spacing: 1px;
    font-size: 100%;

  }
  
  li a:hover {
    color:#D2E3E5
  }
  
  .active {
    background-color: #4CAF50;
  }

  .logo{
    height: 130px;
    margin-top: -20px;
   
  }

  .white{
    background-color: white;
    height: 110px;
    margin-top: -10px;

    margin-left: -10px;
    margin-right: -8px;
  }


